<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @bike, :name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @bike.year %>
</p>

<p>
  <strong>Value:</strong>
  <%= @bike.value %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
